[class^="button"]{
    cursor: pointer;
}

.button{
    outline: none;
    padding: 17px 50px;
    text-align: center;
    background-color: transparent;
    border: none;
    transition: 0.3s;
}

.button_owl-main{
    font-size: 20px;
    text-transform: uppercase;
    width: 217px;
    height: 50px;
    line-height: 50px;
    display: block;
    margin: 41px auto 0px auto;
    border: 1px solid #000000;
    background: transparent;
    position: relative;
    top: -15px;
    left: -9px;
}

.button_owl-main:hover{
    color: #000;
    text-decoration: none;
}

.button_subscription{
    min-width: 197px;
    max-width: 197px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 0px 18px 0px;
    border: none;
    background-color: #383838;
}

.button_subscription:hover{
    background-color: #fff;
    border: 1px solid #383838;
    color: #383838;
}

.button_category{
    display: none;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 17px 50px;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    opacity: 0.8;
    text-decoration: none !important;
    outline: 1px solid #ffffff;
    outline-offset: 5px;
}

.button_category:hover{
    color: #000;
}

.button_product{
    visibility:hidden;
    color: #316ec8;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #316ec8;
    background-color: transparent;
    padding: 6px 45px;
    margin: 5px auto 9px auto;
}

.button_product:hover{
    background-color: #0970cf;
    color: #fff;
}

.button_feedback{
    color: #0970cf;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #0970cf;
    padding: 12px 30px;
}

.button_constructor{
    color: #ffffff;
    font-weight: 700;
    padding: 15px 40px;
    background-color: #0970cf;
    position: relative;
}

.button_constructor-like{
    padding: 0px;
    width: 46px;
    height: 46px;
    border: 1px solid #b1b1b1;
    background: url("img/button-like.png") no-repeat center / 18px;
}

.button_constructor-bookmark{
    padding: 0px;
    width: 46px;
    height: 46px;
    border: 1px solid #b1b1b1;
    background: url("img/button-bookmark.png") no-repeat center / 14px 18px;
}

.button_constructor-like:hover, .button_constructor-bookmark:hover{
    border: 1px solid #000;
    transition: 0.3s;
}

.button_basket{
    color: #0970cf;
    font-size: 14px;
    border: 1px solid #0970cf;
    padding: 10px 0px;
    width: 100%;
}

.button_constructor span{
    height: 83%;
    width: 97%;
    position: absolute;
    border: 1px solid #0970cf;
    top: 4px;
    left: 3px;
}

.button_constructor:hover span{
    border: 1px solid #fff;
}
