

@media (min-width: 1200px), (min-device-width:1200px)
{
    .container{
        max-width: 1170px !important;
    }
}

.container__title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.container_partners{
    padding-top: 20px;
    border-top: 1px solid #acacac;
}

.container_products{
    padding-top: 25px;
}

.container_partners img{
    margin: 0px 20px 20px 20px;
}

.container_advantages{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #acacac20;
    border-top: 1px solid #acacac;
}

.container_article{
    padding-top: 35px;
    padding-bottom: 36px;
}

.container_article-wrapper{
    max-height: 119px;
    overflow: hidden;
}

.container_article-wrapper_open{
    max-height: 100%;
}

.container__article-title{
    margin-bottom: 35px;
    color: #333333;
    font-size: 18px;
    font-weight: bolder;
    line-height: 20px;
}

.container__text{
    color: #333333;
    line-height: 18px;
}
