section.container.container_advantages
    .row
        .col-xl-6.col-md-12.col-24.mb-4.mb-xl-0
            .advantage.mx-auto
                .advantage__img-wrapper
                    img(src="img/shield.png", alt='Преимущество')
                .advantage__wrapper
                    .advantage__text 
                        strong Безопастность платежей
                    .advantage__text.advantage__text_gray Гарантия протокола SSl
        .col-xl-6.col-md-12.col-24.mb-4.mb-xl-0
            .advantage.mx-auto
                .advantage__img-wrapper
                    img(src="img/tut-doljna-bit-zvezdochka.png", alt='X')
                .advantage__wrapper
                    .advantage__text 
                        strong ДИЗАЙНЕР НЕ ДАЛА ИКОНКУ СЮДА
                    .advantage__text.advantage__text_gray Проверенное качество
        .col-xl-6.col-md-12.col-24.mb-4.mb-xl-0
            .advantage.mx-auto
                .advantage__img-wrapper
                    img(src="img/car.png", alt='Преимущество')
                .advantage__wrapper
                    .advantage__text 
                        strong Доставка по всей России
                    .advantage__text.advantage__text_gray Доставка по всей России
        .col-xl-6.col-md-12.col-24.mb-4.mb-xl-0
            .advantage.mx-auto
                .advantage__img-wrapper
                    img(src="img/clothes-hanger.png", alt='Преимущество')
                .advantage__wrapper
                    .advantage__text 
                        strong Бесплатная примерка
                    .advantage__text.advantage__text_gray Возврат неподходящей вещи
                
