.advantage{
    width: 285px;
    display: flex;
    align-items: center;
}

.advantage__img-wrapper{
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.advantage__text{
    font-size: 14px;
}

.advantage__text_gray{
    color: #646464;
}
