//- категория на 1/3 ширины
.category
    .category__blackout
    img.category__img.img-fluid(src="img/category1.png", alt="Категория")
    a.button.button_category(href="#") Смотреть
    h3.category__title Все для новорожденных

//- категория на 1/2 ширины    
.category.category_big
    .category__blackout
    img.category__img.img-fluid(src="img/category4.png", alt="Категория")
    a.button.button_category(href="#") Смотреть
    h3.category__title Новая коллекция: Holiday
