footer.footer
    .container
        nav.navbar.navbar-expand-md.d-flex.justify-content-around
        
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#footerNav', aria-controls='footerNav', aria-expanded='false', aria-label='Toggle navigation')
                        i.fa.fa-bars
                            
                    #footerNav.collapse.navbar-collapse
                        .container
                            .row.justify-content-between
                                .col-lg-4.col-md-12.text-center.text-lg-left.mb-4
                                    h3.footer__subtitle Покупателям
                                    ul
                                        li
                                            a.link.link_footer(href="#") Как сделать заказ
                                        li
                                            a.link.link_footer(href="#") Доставка
                                        li
                                            a.link.link_footer(href="#") Оплата
                                        li
                                            a.link.link_footer(href="#") Возврат
                                        li
                                            a.link.link_footer(href="#") Размеры
                                        li
                                            a.link.link_footer(href="#") Помощь
                                        li
                                            a.link.link_footer(href="#") Оферта
                                            
                                .col-lg-4.col-md-12.text-center.text-lg-left.mb-4
                                    h3.footer__subtitle Компания
                                    ul
                                        li
                                            a.link.link_footer(href="#") О компании
                                        li
                                            a.link.link_footer(href="#") Контакты
                                        li
                                            a.link.link_footer(href="#") Вакансии
                                        li
                                            a.link.link_footer(href="#") Скидки и акции
                                        li
                                            a.link.link_footer(href="#") Политика конфиденциальности
                                        li
                                            a.link.link_footer(href="#") Преимущества
                                            
                                            
                                .col-lg-4.col-md-12.text-center.text-lg-left.mb-4
                                    h3.footer__subtitle Оплата
                                    .d-flex.justify-content-center.justify-content-lg-start.align-items-start
                                        img.mr-3(src="img/mastercard.png", alt="mastercard")
                                        img(src="img/visa.png", alt="visa")
                                    .footer__text Вы можете оплатить покупки наличными при получении или банковскими картами
                                        
                                .col-lg-7.col-md-12.text-center.text-lg-left.d-flex.flex-column.align-items-center.d-lg-block.mb-4
                                    h3.footer__subtitle Контакты
                                    span.footer__text.house-icon г. Москва, ул. Войковская, дом 1
                                        br 
                                        | строение 204, офис 1
                                        
                                    a.footer__text.phone-icon(href="tel:88007009060") 8 (800) 700-90-60
                                        br
                                        | (звонок бесплатный)
                                        
                                    a.footer__text.mail-icon(href="mailto:info@detskiy.ru") info@detskiy.ru
                                    
                                    .d-flex.mt-4
                                        a.facebook-icon.d-block.ml-2(href="#")
                                        a.vk-icon.d-block.ml-2(href="#")
                                        a.odn-icon.d-block.ml-2(href="#")
                                        a.insta-icon.d-block.ml-2(href="#")

.footer__text_bottom © 2017 DETSKIY.  Все права защищены 
                                        

                                    
                
                
