.footer{
    background: #f7f7f7;
    padding: 50px 0px;
    border-bottom: 1px solid #acacac;
}

.footer__subtitle{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__text{
    color: #999999;
    font-family: Ubuntu;
    font-size: 14px;
}

.footer ul{
    list-style: none;
    padding: 0px;
}

.footer__text_bottom{
    background: #f7f7f7;
    color: #333333;
    font-family: Ubuntu;
    font-size: 14px;
    text-align: center;
    padding: 24px 0px;
}


@media (max-width:767px),(max-device-width:767px) {
    .footer{
        padding: 0px;
    }
}
