.link{
    text-decoration: none;
}

.link_footer{
    color: #848484;
    font-size: 13px;
}

.link_subscription{
    color: #848484;
    display: block;
    text-align: center;
}

.link_article{
    color: #333333;
    text-decoration: underline !important;
}

.link_breadcrumbs{
    color: #646464;
    font-family: "Open Sans";
    font-size: 12px;
}

.link_constructor{
    color: #4594f2;
    font-size: 14px;
    margin: 0px 0px 5px 0px;
}
