doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body.text-center.text-md-left
        include ../blocks/header/header.jade
        
        main
        
            .container
                ul.breadcrumbs.pl-3.pl-xl-0
                    li
                        a.link.link_breadcrumbs(href='#') Главная
                    li
                        a.link.link_breadcrumbs(href='#') Одежда и обувь
                    li
                        a.link.link_breadcrumbs(href='#') Одежда для девочек
                        
            include ../blocks/constructor/constructor.jade
                        
            section.container.container_products
                h2.container__title С этим товаром покупают
                .owl-carousel.owl-theme.product-carousel
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть    
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть    
                
            include ../blocks/feedback/feedback.jade
            
            section.container.container_products
                h2.container__title Вы недавно просматривали
                .owl-carousel.owl-theme.product-carousel
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть    
                    .product
                        .product__previews
                            img.product__previews-item(src="img/product1__preview1.png", alt="Вариант комбинезона")
                            img.product__previews-item(src="img/product1__preview2.png", alt="Вариант комбинезона")
                            img.product__previews-item.product__previews-item_active(src="img/product1__preview3.png", alt="Вариант комбинезона")
                        .product__sale -70%
                        .product__feature NEW
                        .product__like
                        .product__bookmark
                        img.product__img(src="img/product1.png", alt="товар")
                        .product__creator MANGO
                        .product__name Комбинезон
                        .d-flex.justify-content-center.justify-content-md-start
                            .product__price 1599
                                span руб
                            .product__price.product__price_old 1999
                                span руб
                        .product__discount.mx-auto.mx-md-3 Доп. скидка - 
                            span 30%
                        button.button.button_product В корзину
                        .product__sizes
                            span Размеры: 
                            .product__size 128
                            .product__size.product__size_active 152
                            .product__size 158
                            .product__size 164
                        a.product__show(href="#") Посмотреть         
                        
                        
            include ../blocks/advantage/advantage.jade
                    
            include ../blocks/subscription/subscription.jade
        include ../blocks/footer/footer.jade
