*{
    box-sizing: border-box;
    font-family: "Open Sans";
}

body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #000;
}


.text-gray{
    color: #9b9b9b !important;
}

input{
    outline: none !important;
}

.opacity-20{
    opacity: 0.2;
}

.opacity-100{
    opacity: 1;
}

.background_blue{
    background: #d7edf6;
}

[class$='-icon']{
    cursor: pointer;
}

.tel-icon{
    width: 17px;
    height: 17px;
    background: url("img/tel-icon.png") no-repeat center / cover;
}

.search-icon{
    min-width: 18px;
    height: 18px;
    background: url("img/search-icon.png") no-repeat center right / contain;
}


.user-icon{
    width: 14px;
    height: 18px;
    background: url("img/user-icon.png") no-repeat center / contain;
}
.bookmark-icon{
    width: 14px;
    height: 18px;
    background: url("img/bookmark-icon.png") no-repeat center / contain;
}
.favourite-icon{
    width: 19px;
    height: 18px;
    background: url("img/favourite-icon.png") no-repeat center / contain;
}
.basket-icon{
    width: 17px;
    height: 18px;
    background: url("img/basket-icon.png") no-repeat center / contain;
    position: relative;
}

#basketSize{
    position: absolute;
    color: #fff;
    right: -13px;
    top: -6px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    border-radius: 100%;
    font-weight: bold;
}

.house-icon{
    position: relative;
    padding-left: 25px;
    display: block;
}

.house-icon::before{
    position: absolute;
    content: "";
    width: 36px;
    height: 32px;
    background: url("img/house.png") no-repeat center / contain;
    top: -6px;
    left: -15px;
}

.phone-icon{
    position: relative;
    padding-left: 20px;
    display: block;
}

.phone-icon::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 29px;
    background: url("img/phone.png") no-repeat center / contain;
    top: -5px;
    left: 0px;
}

.mail-icon{
    position: relative;
    padding-left: 30px;
    display: block;
}

.mail-icon::before{
    position: absolute;
    content: "";
    width: 33px;
    height: 29px;
    background: url("img/mail.png") no-repeat center / contain;
    top: -4px;
    left: -5px;
}

.facebook-icon{
    width: 30px;
    height: 30px;
    background: url("img/facebook.png") no-repeat center / contain;
}
.vk-icon{
    width: 30px;
    height: 30px;
    background: url("img/vk.png") no-repeat center / contain;
}
.odn-icon{
    width: 30px;
    height: 30px;
    background: url("img/odn.png") no-repeat center / contain;
}
.insta-icon{
    width: 30px;
    height: 30px;
    background: url("img/insta.png") no-repeat center / contain;
}

.subscription-icon{
    min-width: 18px;
    height: 12px;
    background:  url('img/subscription.png') no-repeat 81% center / contain;
    margin-left: 7px
}
