noscript
    p Please enable Javascript
    
header.header
    .container
        .d-flex.justify-content-between.mb-3.flex-column.flex-md-row.align-items-center.align-items-md-baseline
            .header__left
                .header__city-wrapper
                    select.header__city
                        option(value="moscow") Москва
                        option(value="piter") Санкт-Петербург
                a.tel-icon(href="tel:+123456789")
                    
            h1.header__title.my-4.my-md-0 DET
                span SK
                span IY
            
            .header__right
                a(href="#", class="search-icon")
                a(href="#", class="user-icon")
                a(href="#", class="bookmark-icon")
                a(href="#", class="favourite-icon")
                a(href="#", class="basket-icon")
    nav.d-flex.justify-content-around.navbar.navbar-expand-xl
        
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-bars
                        
                #headerNav.collapse.navbar-collapse
                    .container
                        ul.navbar-nav.d-flex.flex-wrap.justify-content-between.header__menu.text-center.text-xl-left
                            li
                                a(href="#", class="header__nav-item") Одежда и обувь
                            li
                                a(href="#", class="header__nav-item") Игрушки
                            li
                                a(href="#", class="header__nav-item") Гигиена и питание
                            li
                                a(href="#", class="header__nav-item") Спорт и отдых
                            li
                                a(href="#", class="header__nav-item") Коляски
                            li
                                a(href="#", class="header__nav-item") Автокресла
                            li
                                a(href="#", class="header__nav-item") Детская мебель
                            li
                                a(href="#", class="header__nav-item") Школа
                            li
                                a(href="#", class="header__nav-item") Творчество
                            li
                                a(href="#", class="header__nav-item") Бренды
                            li
                                a(href="#", class="header__nav-item") Распродажа %
                    
